<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Shopping Cart</title>

  <!-- CSS  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- <link href="{% static '/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/> -->
    <link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <style media="screen">
    .login {
      width: 40%;
      vertical-align: top;
      margin: 20px 50px 100px 50px;
    }

    .items {
      padding-bottom: 25px;
    }

    table  {
      margin: 20px 40px;
      width: 94.5%;
    }

    .total {
      float: right;
      width: 25%;
    }

    h6 {
      margin-bottom: 20px;

    }
    tr, table {
      border: 1px solid #9e9e9e;
    }

    li {
      color: black;

    }

    .this-control {
      width: 75%;
    }

    .bill {
      margin-top: 25px;
    }

    .this-table {
      width: 97%;
    }
    </style>
  </head>

  <body>
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>CRAZY FOOD</h3>
        </div>

        <ul class="list-unstyled components">


            <li>
                <a href="/login">About</a>
            </li>
            <li>
                <a href="/review">Product</a>
            </li>
            <li>
                <a href="/cart">Shopping Cart</a>
            </li>
            <li>
                <a href="/cart">Check out</a>
            </li>
        </ul>


    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">

              <div class="navbar-header">
                  <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                      <i class="glyphicon glyphicon-align-left"></i>
                      <span>Toggle Sidebar</span>
                  </button>
              </div>
              <div>
                <h2 id="header-navbar">CRAZY FOOD</h2>
              </div>


          </div>
        </nav>


    <form class="items" action="/" method="post">
      <table class="table this-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Bear</td>
            <td>$500.00</td>
            <td>1</td>
            <td>$500.00</td>
          </tr>
          <tr>
            <td>Snakes</td>
            <td>$1.00</td>
            <td>10</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td>Juice</td>
            <td>$20.00</td>
            <td>15</td>
            <td>$20.00</td>
          </tr>

      </tbody>
    </table>
    <div class="total">
      <h6><b>Total:</b></h6>
      <a href="/"><button type="button" class="btn btn-info navbar-btn" name="button">Continue Shopping</button></a>
    </div>
  </form>


  <div class="form-row">
    <h5>Shipping Information</h5>
    <form class="form-control">
      <div class="form-group">
        <div class="input-field col s12">
          <label for="first_name">First Name</label>
          <input id="first_name1" type="text" class="validate form-control" required>
        </div>
        <div class="input-field col s12">
          <label for="last_name">Last Name</label>
          <input id="last_name1" type="text" class="validate form-control" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-field col s12">
          <label for="phone">Phone Number (optional)</label>
          <input id="phone1" type="text" class="validate form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="input-field col s12">
          <label for="address">Address</label>
          <input id="address1" type="text" class="validate form-control" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-field col s12">
          <label for="address2">Address 2</label>
          <input id="address21" type="text" class="validate form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="input-field col s12">
          <label for="city">City</label>
          <input id="city1" type="text" class="validate form-control" required>
        </div>
      </div>
        <div class="form-group">
        <div class="input-field col s12">
          <label for="state">State</label>
          <input id="state1" type="text" class="validate form-control" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-field col s12">
          <label for="zip">Zipcode</label>
          <input id="zip1" type="text" class="validate form-control" required>
        </div>
      </div>
    </div>


      <h5 class="bill">Billing Address</h5>
      <div class="form-control this-control">

      <p>
        <label>
          <input type="checkbox" onclick="SetBilling(this.checked);" />
          <span>Same as Shipping</span>
        </label>
      </p>
        <div class="form-group">
          <div class="input-field col s12">
            <label for="first_name">First Name</label>
            <input id="first_name" type="text" class="validate form-control" required>
          </div>
          <div class="form-group col-md-12">
            <label for="last_name">Last Name</label>
            <input id="last_name" type="text" class="validate form-control" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-field col s12">
            <label for="phone">Phone Number (optional)</label>
            <input id="phone" type="text" class="validate form-control" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-field col s12">
            <label for="address">Address</label>
            <input id="address" type="text" class="validate form-control" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-field col s12">
            <label for="address2">Address 2</label>
            <input id="address2" type="text" class="validate form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="input-field col s12">
            <label for="city">City</label>
            <input id="city" type="text" class="validate form-control" required>
          </div>
        </div>
          <div class="form-group">
          <div class="input-field col s12">
            <label for="state">State</label>
            <input id="state" type="text" class="validate form-control" required>
          </div>
        </div>
          <div class="form-group">
          <div class="input-field col s12">
            <label for="zip">Zipcode</label>
            <input id="zip" type="text" class="validate form-control" required>
          </div>
        </div>
      </div>
        <!-- <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Pay with Card</a> -->

        <!-- <form action="your-server-side-code" method="POST"> -->
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_g6do5S237ekq10r65BnxO6S0"
          data-amount="999"
          data-name="Stripe.com"
          data-description="Widget"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-zip-code="true">
        </script>
      </form>






    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="static/js/materialize.js"></script>
    <script src="static/js/init.js"></script>

    <script type="text/javascript">

      function SetBilling(checked) {
        if (checked) {
                  document.getElementById('first_name').value = document.getElementById('first_name1').value;
                  document.getElementById('last_name').value = document.getElementById('last_name1').value;
                  document.getElementById('phone').value = document.getElementById('phone1').value;
                  document.getElementById('address').value = document.getElementById('address1').value;
                  document.getElementById('address2').value = document.getElementById('address21').value;
                  document.getElementById('city').value = document.getElementById('city1').value;
                  document.getElementById('state').value = document.getElementById('state1').value;
                  document.getElementById('zip').value = document.getElementById('zip1').value;
        }
        else {
                  document.getElementById('first_name').value = '';
                  document.getElementById('last_name').value = '';
                  document.getElementById('phone').value = '';
                  document.getElementById('address').value = '';
                  document.getElementById('address2').value = '';
                  document.getElementById('city').value = '';
                  document.getElementById('state').value = '';
                  document.getElementById('zip').value = '';
        }
    }

  </script>

      <!-- jQuery CDN -->
      <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
      <!-- Bootstrap Js CDN -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!-- jQuery Custom Scroller CDN -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
      <link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet">

      <script type="text/javascript">
          $(document).ready(function () {
              $("#sidebar").mCustomScrollbar({
                  theme: "minimal"
              });

              $('#sidebarCollapse').on('click', function () {
                  $('#sidebar, #content').toggleClass('active');
                  $('.collapse.in').toggleClass('in');
                  $('a[aria-expanded=true]').attr('aria-expanded', 'false');
              });
          });
      </script>
  </body>
</html>
