<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <style media="screen">
      .justify-content-end {
        float: right;
      }

      .products {
        margin: 0 auto;
        width: 97%
      }

      .mr-sm-2{
        margin: 20px;
      }

      .on-to-next {
        text-align: center;
      }

    </style>
  </head>

  <body>
    <div id="wrapper">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pipeline</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item active">
              <a class="nav-link" href="#">Status<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Modifty/ Add
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">New Order</a>
                <a class="dropdown-item" href="#">New User</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Create New Borrower</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logoff</a>
            </li>
          </ul>
        </div>
      </nav>


      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>

      <table class="table products">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Service</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row"><a href="#">1</a></th>
            <td><a href="#">Mark Walhberg</a></td>
            <td>123 Main Street, Wilbert, MA 00032</td>
            <td>
              <select id="inputState" class="form-control">
                <option selected>Appraisal Fee</option>
                <option>County Inspection</option>
                <option>Termite Inspection</option>
                <option>Notary Fee</option>
                <option>Credit Report</option>
                <option>Re-trip Inspection</option>
              </select>
            </td>
            <td>$500</td>
            <td>
              <select id="inputState" class="form-control">
                <option selected>Paid</option>
                <option>Unpaid</option>
                <option>Pending</option>
                <option>Cancelled</option>
                <option>Scheduled</option>
                <option>Completed</option>
              </select>
          </td>
          </tr>

          <tr>
            <th scope="row"><a href="#">2</a></th>
            <td><a href="#">Jacob</a></td>
            <td>Thornton</td>
            <td>
              <select id="inputState" class="form-control">
                <option selected>Appraisal Fee</option>
                <option>...</option>
              </select>
            </td>
            <td>$500</td>
            <td>
              <select id="inputState" class="form-control">
                <option selected>Paid</option>
                <option>...</option>
              </select>
            </td>
          </tr>

          <tr>
            <th scope="row"><a href="#">3</a></th>
            <td><a href="#">Larry</a></td>
            <td>the Bird</td>
            <td>
              <select id="inputState" class="form-control">
                <option selected>Appraisal Fee</option>
                <option>...</option>
              </select>
            </td>

            <td>$500</td>
            <td>
              <select id="inputState" class="form-control">
                <option selected>Paid</option>
                <option>...</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="on-to-next"><a href="#"><<</a>
      <a href="#">1</a> | <a href="#">2</a> | <a href="#">3</a>
      <a href="#">>></a></p>

    </div>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
